<section id="" class="card">
  <a href="/books/{{id}}">
    <header>{{title}}</header>
    <div class="card-body">
      <img src="/images/book_covers/{{filename}}" alt="book cover">
      <p>By: {{author}}</p>
    </div>
  </a>
</section>

{{!-- <section class="card">
 
  <a href="/books/{{id}}">
   
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/book_covers/{{filename}}" alt="book cover">
      <p>By: {{author}}</p>
    </div>
  </a>
</section> --}}