<section class="card">
  <img src="/images/book_covers/{{filename}}" alt="book cover">
  <div>
    <h3>{{title}}</h3>
    <p>Genre: {{genre}}</p>
    <p>By: {{author}} in {{year}}</p>
  </div>
</section>
